bcrypt==4.*
BeautifulSoup4==4.14.3
ecodev-core==0.*
ecodev-front==0.*
gunicorn == 22.*
gevent==25.*
langchain>=0.2.17,<0.3
langchain-chroma>=0.1.4,<0.2
langchain-community>=0.2.19,<0.3
langchain-core>=0.2.43,<0.3
langchain-text-splitters>=0.2.4,<0.3
langsmith>=0.1.112,<0.2
ollama==0.6.*
pdfplumber==0.11.*
reductoai==0.22.*
requests>=2.31,<3
scikit-learn>=1.4,<2
